@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Visitor Management System</h1>
   
</div>
<a href="Visitors/Create">Add Visitor</a>
<a href="Visitors/Index">All Visitors</a>